---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import ProjectContent from '@/components/grids/ProjectContent.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((p) => ({
    params: { slug: p.slug },
  }));
}

const projects = await getCollection('projects');
const project = projects.find((p) => p.slug === Astro.params.slug);

if (!project)
  throw new Error(`Project not found for slug: ${Astro.params.slug}`);

const baseUrl = import.meta.env.BASE_URL;

const imageSrc = `${baseUrl}${project.data.image}`;

const Content = (await project.render()).Content;

---

<Layout title={project.data.title}>
  <!-- <h1>{project.data.title}</h1>
  <img
    src={imageSrc}
    alt={project.data.title}
    class=""
  />
  {project.data.tags && <Tag tags={project.data.tags} />}
  <p>{project.data.description}</p> 
  -->

  <!-- Markdown body content -->
  <article class="prose">
    <ProjectContent project={project} baseUrl={baseUrl} />
  </article>

</Layout>
