---
import type { ProjectMeta } from '@/ts/project';
import Tag from '@/components/UI/Tag.astro';

interface Props{
  projectMeta: ProjectMeta;
}

const { projectMeta } = Astro.props as Props;

const baseUrl = import.meta.env.BASE_URL ?? '/';
const href = `${baseUrl}projects/${projectMeta.slug}`;

---

<div class="project_card group relative">
  <a href={href} class="relative">
    <div class="square_item relative overflow-hidden">
      <img src={projectMeta.image} alt={projectMeta.title} class="img-default" />
      <img src={projectMeta.hoverImage} alt={projectMeta.title + ' hover'} class="img-hover" />
      <!-- <picture class="hoverImage">
        <source srcset={projectMeta.hoverImage} type="image/webp" />
        <img src={projectMeta.hoverImage} alt={projectMeta.title + ' hover'} class="w-full h-full object-cover" />
      </picture> -->
    </div>
    <div class="absolute bottom-0 w-full text-center">
      <p class="square_title">{projectMeta.title}</p>
      {projectMeta.info && <p class="square_description">{projectMeta.info}</p>}
      <div class="flex justify-center items-center">
        <Tag tags={projectMeta.tags} />
      </div>
    </div>
  </a>
</div>

<style>
  @reference "@/styles/global.css";
  .project_card {
    @apply rounded-[1rem] bg-[var(--color-work-background)] p-[1rem] relative h-full w-full overflow-hidden;
  }

  body.light_mode .project_card.group:hover {
    @apply bg-gradient-to-t from-black/5 via-black/2 to-transparent
    border border-black/10;
  }

  body.dark_mode .project_card.group:hover {
    @apply bg-gradient-to-t from-white/20 via-white/10 to-white/5
    border border-white/25;
  }

  .square_item {
    @apply h-full overflow-hidden rounded-[1rem];
  }
  .square_title {
    @apply text-[var(--color-text-primary)] text-center mt-2 mb-2 font-semibold;
  }
  .square_description {
    @apply text-[var(--color-text-primary)] text-center text-sm;
  }

  .img-default {
    @apply w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-0;
  }

  .img-hover {
    @apply absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-300 group-hover:opacity-100;
  }


</style>
